@import "tailwindcss";

html,
body,
#root {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

textarea:focus,
input:focus {
    outline: none;
}

p, span {
    font-family: 't2-Rooftop';
}

h1, h2 {
    font-family: 'wix';
}